<div class="omr-action-bar">
    <div class="omr-border"></div>

    <div class="omr-action-bar__actions">
        <div class="omr-action-bar__actions__item text-center" ng-show="$ctrl.settings">
            <div>
                <omr-configurations></omr-configurations>
            </div>
        </div>
        <div class="omr-action-bar__actions__item text-center" ng-show="$ctrl.audio">
            <omr-sound></omr-sound>
        </div>
    </div>
</div>
