<div class="omr-page-home__logo text-center">
    <img src="resources/img/logo.png" alt="">
</div>

<div class="omr-page-home__action text-center"
     ng-class="{'omr-fade-in': $ctrl.ready, 'omr-invisible': !$ctrl.ready }">

    <div class="omr-page-home__action--border"></div>
    <button class="omr-page-home__action--button"       
            ng-click="$ctrl.playTest()">
        {{::$ctrl.TRANSLATIONS.PLAY}}
    </button>
</div>
