<ion-modal-view>
    <omr-modal-header title="TRANSLATIONS.CONFIGURATIONS" on-close="cancel()"></omr-modal-header>

    <omr-modal-content>
        <div class="omr-configuraions-modal">
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        {{::TRANSLATIONS.LANGUAGE}}
                    </div>
                    <select ng-options="item as item.text for item in availableTranslations track by item.value"
                            ng-model="selectedTranslation"
                            ng-change="onSelectTranslation(selectedTranslation)">
                    </select>
                </label>
            </div>
            <ul class="list">
                <li class="item item-toggle">
                    {{::TRANSLATIONS.SOUND}}
                    <label class="toggle toggle-stable">
                        <input type="checkbox" ng-model="soundIsEnabled" ng-change="onChangeSoundState(soundIsEnabled)">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </ul>
            <div class="omr-configurations-modal__actions">
                <button class="omr-button" ng-click="saveConfigurations()">
                    {{::TRANSLATIONS.SAVE}}
                </button>
                <button class="omr-button" ng-click="cancel()">
                    {{::TRANSLATIONS.CANCEL}}
                </button>
            </div>
        </div>


    </omr-modal-content>
</ion-modal-view>
